.typeTag {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-medium);
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-small);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Pokemon Type Colors */
.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.electric {
  background-color: #f8d030;
}

.grass {
  background-color: #78c850;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #292522;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #ee99ac;
}
